{% extends 'base.html.twig' %}

{% block title "Recette :" ~ recipe.title %}

{% block body %}
  <h1> {{ recipe.title | nl2br}} </h1>

  
  <p>
     Temps de préparation: {{ recipe.duration}}
  </p>

  <p>
      {{ recipe.content | nl2br }}
  </p>

{% endblock %}
